@model IEnumerable<BookStoreDemo1.Models.BookViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <!-- table header in partial view-->
    @Html.Partial("PartialBookListHeader", Model)

@foreach (var item in Model) {
    <tr>
        <!-- table content without links in partial view-->
        @Html.Partial("PartialBookListContent", item)
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
        </td>

    </tr>
}

</table>
