@model BookStoreDemo1.Models.BookViewModel

<td>
    @Html.DisplayFor(modelItem => Model.Title)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Author)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Price)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.ISBN)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.StackItem.Location)
</td>